.navbar{
    background-color:#05386B;
    color:#DFDCE3;
}
.brandColor{
    color:#FAED26;
    font-weight:900;
    font-size:2rem;
}
.nav-link{
    color:#DFDCE3;
    font-weight:500;
    font-size:20px;
}