.navbar{
    background-color:#05386B;
    color:#DFDCE3;
}
.mb-1{
    margin-bottom:0px !important;

}
.brandColor{
    color:#FAED26;
    font-weight:900;
    font-size:2rem;
}
.nav-link{
    color:#DFDCE3;
    font-weight:500;
    font-size:20px;
}
.showcase{
    width:100%;
    margin-right:0rem !important;
}
.carousel-inner img {
    max-height:600px;
}
.welcome{
    font-size:4rem;
    color:#FAED26;
}
.container{
    margin-top:2rem;
}
.page-footer{
    background-color:#05386B;
}
.star{
    color:#FAED26;
}
.topic{
    background-color:#05386B !important;
    color:#FAED26 !important;
    font-family: 'PT Serif', serif;
}